build --disk_cache=.bazel-cache

build:appveyor --crosstool_top=@rules_haskell_ghc_windows_amd64//:cc_toolchain
build:appveyor --test_tag_filters -lint
build:appveyor --test_tag_filters -test_requires_bash

test --test_output all
