before_deploy:
  - appveyor PushArtifact bazel-bin\purty-%APPVEYOR_REPO_TAG_NAME%-win.tar.gz

build_script:
  - ps: Set-ItemProperty -Path HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem -Name LongPathsEnabled -Value 1
  - .build\bazel.exe test --config appveyor //...

cache:
  - '%APPVEYOR_BUILD_FOLDER%\.bazel-cache'
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml

deploy:
  - api_key:
      secure: y/pMqpeXcoK4ZUAPdF4at7Ji7XjRRa8cOsQtQH8HT+G5mgwh1ctnPt5NqMd3Npcn
    artifact: 'purty-%APPVEYOR_REPO_TAG_NAME%-win.tar.gz'
    on:
      appveyor_repo_tag: true
    package: purty
    provider: BinTray
    publish: true
    repo: generic
    subject: joneshf
    username: joneshf
    version: '%APPVEYOR_REPO_TAG_NAME%'

environment:
  MSYS2_ARG_CONV_EXCL: '*'
  PATH: 'C:\Python37\;%PATH%'

image: Visual Studio 2019

install:
  - chocolatey install make --version 4.3 --yes
  - make bootstrap OS=windows

version: '{build}'
